/vendor

/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

/public/storage

.git
.gitignore
.env
.env.*.local
.DS_Store
.idea
.vscode

docker-compose.yml
Dockerfile
nginx/
.dockerignore

*.swp
*.swo
*.bak
*.tmp
